* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

.app{
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position:bottom;
  transition: 0.4 ease-out;
}

main{
   min-height: 100vh;
   background-image: linear-gradient(to bottom,rgba(21, 24, 5, 0.712),rgba(87, 100, 28, 0.534));
}



 

.main-text{
  color: rgb(179, 240, 176);
  size: 40px;
  font-weight: 400;
  text-align: right;
  margin-right:30px;
  padding: 5px 20px 5px 0;
  font-size: 30px;
  box-shadow: 3px,6px,rgb(194, 194, 206);
  background-color: rgba(158, 245, 194, 0.295);
  border-radius: 20px;
  
}
.main-page{
   text-align: right;
  size: 20px;
  font-weight: 250;
  margin-right:150px;
  padding-top: 10px;
  font-style:normal;
  font-size: 16px;
}

.line{
     color:rgba(198, 221, 116, 0.932);
      margin-left: 170px;
      
    
}

div.title {
  float: right;
  width: fit-content;
  
 
}
div.buy {
  color: rgb(21, 209, 14);
  width: calc(100% - 200px);
  
}
div.sell {
  color: rgb(255, 16, 16);
  width: calc(100% - 200px);
  
}